.navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100%;
  max-width: 100%;
  font-size: 16px;
  background-color: $white-navigation-75;
  box-shadow: 0px 6px 20px 0px $shadow-navigation; 

  @media screen and (max-width: 490px) {
    background-color: $white;
  }

  @media screen and (max-width: 490px) {
    width: 320px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 970px;

    @media screen and (max-width: 768px) {
      //flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__menu {
    display: flex;
    margin: 0 5px;
    width: 60%;

    @media screen and (max-width: 969px) {
      margin-left: 15px;
    }

    @media screen and (max-width: 768px) {
      width: 22px;
      margin: 0 auto 0 15px;
    }
  }

  &__select {
    color: $blue-menu;
    cursor: pointer;

    &-container {
      display: flex;
      width: 100%;
      max-width: 100%;
      height: 100%;

      @media screen and (max-width: 768px) {
        display: none;
      }

    }

    &-title {
      margin: auto 4px auto auto;
      transition: color .3s ease;

      &:hover {
        color: $blue-menu-hover;
      }
    }

    &-arrow {
      margin: auto auto auto 4px;
      width: 5px;
      height: 5px;
      transform: rotate(-45deg);
      border-left: solid 1px $blue-menu;
      border-bottom: solid 1px $blue-menu;
      cursor: pointer;
      transition: border-color .3s ease;

      &:hover {
        border-color: $blue-menu-hover;
      }
    }

/*************
BUTTON BURGER
**************/
    &-button {
      display: none;
      flex-direction: column;
      justify-content: space-around;
      width: 22px;
      height: 22px;
      background-color: $white;
      cursor: pointer;

      @media screen and (max-width: 768px) {
        display: flex;
      }

      &-line {
        margin: 0 auto;
        width: 22px;
        height: 3px;
        background-color: $blue-menu;
        transition: background-color .3s ease;
      }

      &--close {
        position: absolute;
        top: 42px;
        left: 15px;
        margin: auto auto auto 0;
        background-color: $white;

        & .navigation__select-button-line {
          background-color: $gray-menu;
        }
      }
    }

/*************
HIDDEN MENU
**************/

    &-list {
      display: none;
      //display: block;
      position: fixed;
      top: 0;
      left: 0;
      margin: 0;
      padding-top: 70px;
      width: 100vw;
      height: 300px;
      font-size: 24px;
      background-color: $white;
    }

    &-item {
      margin: 15px auto 15px 25px;
    }

    &-link {
      color: $blue-menu;
      transition: color .3s ease;

      &:hover {
        color: $blue-menu-hover;
      }
    }

  }

/*************
MENU
**************/

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto auto auto 50px;
    width: 60%;

    @media screen and (max-width: 768px) {
      display: none;
    }

    &-item a {
      color: $blue-menu;
      transition: color .3s ease;

      &:hover {
        color: $blue-menu-hover;
      }
    }
  }

/*************
BUTTON
**************/

  &__button {
    display: flex;
    width: 225px;
    min-width: 225px;
    height: 55px;
    background-color: $blue-btn;
    color: $white;
    transition: background-color .3s ease;

    @media screen and (max-width: 969px) {
      margin-right: 15px;
    }

    @media screen and (max-width: 768px) {
      margin: 25px 15px 25px auto;
    }

    &:hover {
      background-color: $blue-btn-hover;
    }

    &-icon {
      margin: auto 4px auto auto;
      width: 13px;
      height: 13px;
      opacity: .3;
      background-image: url("../images/icon-pencil-white.png");
    }

    &-text {
     margin: auto auto auto 4px;
    }
  }
}

/***************************************
CHANGE NAVIGATION BACKGROUND WITH SCROLL
****************************************/

.scroll-background {
  background-color: $white;
}

