.service {
  margin: 0 auto 50px auto;
  padding-top: 45px;
  max-width: 970px;

  @media screen and (max-width: 969px) {
    margin-left: 15px;
    margin-right: 15px;
  }

  &__title {
    margin: 0 0 40px 0;
    text-align: center;
    font-size: 30px;
    color: $black-service;

    @media screen and (max-width: 768px) {
      font-size: 28px;
    }
  }

  &__filter {
    margin-bottom: 5px;
    background-color: $green-service;
  }

  &__device {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 1.25;
    color: $white;

    @media screen and (max-width: 365px) {
      flex-wrap: wrap;
    }

    &:hover .service__arrow-icon {
      background-image: url("../images/arrow-down-hover-cust.png");
    }
  }

  &__subtitle {
    padding-left: 10px;
    width: 55%;

    @media screen and (max-width: 768px) {
      width: 35%;
      font-size: 22px;
    }

    @media screen and (max-width: 615px) {
      width: 55%;
    }

    @media screen and (max-width: 490px) {
      font-size: 20px;
    }

    @media screen and (max-width: 440px) {
      font-size: 18px;
      width: 40%;
    }

    @media screen and (max-width: 365px) {
      width: 45%;
      text-align: center;
    }
  }

  &__time {
    width: 25%;
    text-align: left;

    @media screen and (max-width: 768px) {
      text-align: center;
    }

    @media screen and (max-width: 615px) {
      text-align: left;
    }

    @media screen and (max-width: 440px) {
      width: 30%;
    }

    @media screen and (max-width: 365px) {
      width: 45%;
      text-align: center;
    }
  }

  &__arrow {
    margin-top: 5px;
    width: 30%;

    @media screen and (max-width: 768px) {
      width: 40%;
    }

    @media screen and (max-width: 615px) {
      width: 25%;
    }

    @media screen and (max-width: 365px) {
      margin: 0 auto 10px auto;
    }
    
    &-icon {
      margin: auto 30px auto auto;
      width: 23px;
      height: 17px;
      background-image: url("../images/arrow-down-cust.png");
      transition: background .5s ease;

      @media screen and (max-width: 365px) {
        margin: 0 auto;
      }
    }
  }

  &__list {
    display: none;
    margin-bottom: 5px;
    background-color: $white;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.1);
    transition: background .5s ease;

    /*div:nth-of-type(even) {
      background-color: $grey-light-service;
    }*/
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
    border: 1px solid $grey-light-service;

    @media screen and (max-width: 365px) {
      flex-wrap: wrap;
    }

    &:hover {
      background-color: $white;
      box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    }

    &-type {
      width: 55%;
      padding-left: 10px;
      text-align: left;
      color: $black-service;

      @media screen and (max-width: 768px) {
        width: 35%;
      }

      @media screen and (max-width: 615px) {
        width: 55%;
      }

      @media screen and (max-width: 440px) {
        width: 35%;
      }

      @media screen and (max-width: 365px) {
        width: 45%;
        text-align: center;
      }
    }

    &-time {
      width: 25%;
      text-align: left;
      color: $green-service;

      @media screen and (max-width: 768px) {
        text-align: center;
      }

      @media screen and (max-width: 615px) {
        display: none;
      }
    }

    &-price {
      width: 15%;
      text-align: center;
      color: $green-service;

      @media screen and (max-width: 768px) {
        width: 20%;
      }

      @media screen and (max-width: 615px) {
        width: 25%;
      }

      @media screen and (max-width: 365px) {
        width: 45%;
        text-align: center;
      }
    }

    &-appointment {
      width: 15%;
      text-align: center;
      color: $blau-service;

      @media screen and (max-width: 768px) {
        width: 20%;
      }

      @media screen and (max-width: 615px) {
        width: 30%;
      }

      @media screen and (max-width: 365px) {
        margin: 0 auto 10px auto;
      }
    }
  }
}

.mobile {
  background-image: url("../images/background-mobile.png");
  transition: background .5s ease;
  
  &:hover {
    background-image: url("../images/background-mobile-hover.png");
  }
}

.tablet {
  background-image: url("../images/background-tablet.png");
  transition: background .5s ease;

  &:hover {
    background-image: url("../images/background-tablet-hover.png");
  }
}

.laptop {
  background-image: url("../images/background-laptop.png");
  transition: background .5s ease;

  &:hover {
    background-image: url("../images/background-laptop-hover.png");
   }
}

.desktop {
  background-image: url("../images/background-desktop.png");
  transition: background .5s ease;

  &:hover {
    background-image: url("../images/background-desktop-hover.png");  
  }
}

.active {
  transform: rotate(180deg);
}