.footer {
  margin-top: 50px;
  width: 100%;
  background-color: $white;
  color: $blue-menu;
  font-family: $Anton;
  font-weight: bold;
  box-shadow: 6px 0px 20px 0px $shadow-navigation; 

  &__text {
    margin: 0;
    padding: 15px;
  }
}