.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto 0 auto;
  padding: 25px 0;
  max-width: 970px;

  @media screen and (max-width: 825px) {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 365px) {
    padding: 100px 0 25px 0;
  }

  &__logo {
    width: 168px;
    height: 65px;
    background-image: url("../images/logo.png");
  }

  &__information {
    font-size: 13px;

    @media screen and (max-width: 825px) {
      width: 45%;
    }

    @media screen and (max-width: 490px) {
      display: flex;
      justify-content: space-between;
      width: 90%;
    }

    @media screen and (max-width: 328px) {
      flex-wrap: wrap;
    }
  }

  &__adress {
    display:  flex;
    align-items: center;

    @media screen and (max-width: 825px) {
      justify-content: flex-end;
    }

    @media screen and (max-width: 490px) {
      width: 45%;
    }

    @media screen and (max-width: 328px) {
      width: 100%;
    }

    & p {
      @media screen and (max-width: 490px) {
        width: 112px;
      }

      @media screen and (max-width: 328px) {
        width: 80%;
      }

    }

    &-icon {
      margin-right: 12px;
      width: 14px;
      height: 20px;
      background-image: url("../images/icon-location.png");
      opacity: .1;
    }
  }

  &__time {
    display: flex;
    align-items: center;

    @media screen and (max-width: 825px) {
      justify-content: flex-end;
    }

    @media screen and (max-width: 490px) {
      width: 45%;
    }

    @media screen and (max-width: 328px) {
      width: 100%;
    }

    &-icon {
      margin-right: 12px;
      width: 15px;
      height: 15px;
      background-image: url("../images/icon-time.png");
      opacity: .1;
    }

    & p {
      @media screen and (max-width: 490px) {
        width: 112px;
      }

      @media screen and (max-width: 328px) {
        width: 80%;
      }
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    font-size: 21px;

    @media screen and (max-width: 825px) {
      width: 45%;
      margin-left: 15px;
      //margin-top: 25px;
    }

    @media screen and (max-width: 490px) {
      margin: 25px auto;
      justify-content: center;
      width: 90%;
    }

    &-icon {
      margin-right: 12px;
      width: 15px;
      height: 25px;
      border-radius: 2px;
      background-image: url("../images/icon-smartphone.png");
      opacity: .1;
    }

    &-text {
      color: $black-header-phone;
      transition: color .3s ease;

      &:hover {
        color: $blue-header-phone-hover;
      }
    }

  }


  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 223px;
    max-width: 223px;
    min-width: 223px;
    height: 38px;
    font-size: 14px;
    color: $grey-header;
    background-color: $white;
    border: solid 1px $blue-header-border;
    transition: all .3s ease;

    @media screen and (max-width: 969px) {
      margin-right: 15px;
      //margin-top: 25px;
    }

    @media screen and (max-width: 490px) {
      margin: 0 auto;
    }

    &:hover {
      background-color: $blue-header-hover;
      color: $white;
    }

    &-text {
      margin: 0;
    }
  }
}